# {{ title }}

## Problem
{% for item in problem %}
- {{ item }}
{% endfor %}

## Solution
{% for item in solution %}
- {{ item }}
{% endfor %}

## Unique Value Proposition
{{ unique_value_prop }}

## Unfair Advantage
{{ unfair_advantage }}

## Customer Segments
{% for item in customer_segments %}
- {{ item }}
{% endfor %}

## Channels
{% for item in channels %}
- {{ item }}
{% endfor %}

## Key Metrics
{% for item in key_metrics %}
- {{ item }}
{% endfor %}

## Revenue Streams
{% for item in revenue_streams %}
- {{ item }}
{% endfor %}

## Cost Structure
{% for item in cost_structure %}
- {{ item }}
{% endfor %}
